formationazuredfisl/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "formationazuredfisl"
		},
		"localfile_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'localfile'"
		},
		"CnxDataLake_properties_typeProperties_dataLakeStoreUri": {
			"type": "string",
			"defaultValue": "https://formationazureisl.azuredatalakestore.net/webhdfs/v1"
		},
		"CnxDataLake_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "544fe47f-5772-488f-81a9-fa9de607ecfa"
		},
		"CnxDataLake_properties_typeProperties_subscriptionId": {
			"type": "string",
			"defaultValue": "32ad602f-d364-45c5-ab7f-b8e199af2da0"
		},
		"CnxDataLake_properties_typeProperties_resourceGroupName": {
			"type": "string",
			"defaultValue": "rg-BDU_EcoleDeLaData"
		},
		"localfile_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "C:/Users/iezzine/Documents/Ecole de la data/Azure/donnees_covid"
		},
		"localfile_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "BETD\\iezzine"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Data ingestion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyDailySubNational",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "region_name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "region_name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "nuts_code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "nuts_code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "rate_14_day_per_100k",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rate_14_day_per_100k",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "source",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "source",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SrcDailySubNational",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "TarDailySubNational",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopyAgeSpecific",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopyDailySubNational",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "country_code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "country_code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "year_week",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "year_week",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "age_group",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "age_group",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "new_cases",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "new_cases",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "population",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "population",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "rate_14_day_per_100k",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rate_14_day_per_100k",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "source",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "source",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "EmploiParActivite",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "TarAgeSpecific",
								"type": "DatasetReference",
								"parameters": {
									"ContainerName": "raw/europe"
								}
							}
						]
					},
					{
						"name": "CopyHospital",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopyAgeSpecific",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "indicator",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "indicator",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "year_week",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "year_week",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "value",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "value",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "source",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "source",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "url",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "url",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SrcHospital",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "TarHospital",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopyResponseCountry",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopyHospital",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Response_measure",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Response_measure",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "date_start",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "date_start",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "date_end",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "date_end",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SrcResponseCountry",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "TarEmploiParActivite",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "CopyTesting",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CopyResponseCountry",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "country_code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "country_code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "year_week",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "year_week",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "new_cases",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "new_cases",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "tests_done",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "tests_done",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "population",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "population",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "testing_rate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "testing_rate",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "positivity_rate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "positivity_rate",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "testing_data_source",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "testing_data_source",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SrcTesting",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "TarTesting",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SrcDailySubNational')]",
				"[concat(variables('factoryId'), '/datasets/TarDailySubNational')]",
				"[concat(variables('factoryId'), '/datasets/EmploiParActivite')]",
				"[concat(variables('factoryId'), '/datasets/TarAgeSpecific')]",
				"[concat(variables('factoryId'), '/datasets/SrcHospital')]",
				"[concat(variables('factoryId'), '/datasets/TarHospital')]",
				"[concat(variables('factoryId'), '/datasets/SrcResponseCountry')]",
				"[concat(variables('factoryId'), '/datasets/TarEmploiParActivite')]",
				"[concat(variables('factoryId'), '/datasets/SrcTesting')]",
				"[concat(variables('factoryId'), '/datasets/TarTesting')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline2ex')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Province/State",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Province/State",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Country/Region",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Country/Region",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Lat",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Lat",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Long",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Long",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "1/22/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1/22/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "1/23/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1/23/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "1/24/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1/24/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "1/25/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1/25/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "1/26/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1/26/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "1/27/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1/27/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "1/28/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1/28/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "1/29/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1/29/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "1/30/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1/30/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "1/31/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1/31/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/1/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/1/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/2/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/2/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/3/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/3/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/4/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/4/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/5/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/5/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/6/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/6/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/7/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/7/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/8/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/8/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/9/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/9/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/10/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/10/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/11/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/11/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/12/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/12/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/13/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/13/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/14/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/14/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/15/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/15/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/16/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/16/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/17/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/17/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/18/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/18/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/19/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/19/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/20/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/20/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/21/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/21/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/22/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/22/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/23/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/23/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/24/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/24/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/25/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/25/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/26/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/26/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/27/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/27/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/28/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/28/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/29/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/29/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/1/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/1/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/2/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/2/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/3/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/3/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/4/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/4/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/5/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/5/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/6/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/6/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/7/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/7/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/8/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/8/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/9/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/9/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/10/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/10/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/11/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/11/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/12/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/12/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/13/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/13/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/14/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/14/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/15/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/15/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/16/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/16/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/17/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/17/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/18/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/18/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/19/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/19/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/20/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/20/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/21/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/21/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/22/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/22/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/23/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/23/20",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SrcConfirmed",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "TarConfirmed",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Province/State",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Province/State",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Country/Region",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Country/Region",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Lat",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Lat",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Long",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Long",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "1/22/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1/22/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "1/23/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1/23/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "1/24/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1/24/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "1/25/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1/25/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "1/26/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1/26/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "1/27/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1/27/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "1/28/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1/28/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "1/29/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1/29/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "1/30/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1/30/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "1/31/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1/31/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/1/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/1/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/2/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/2/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/3/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/3/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/4/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/4/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/5/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/5/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/6/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/6/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/7/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/7/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/8/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/8/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/9/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/9/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/10/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/10/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/11/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/11/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/12/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/12/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/13/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/13/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/14/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/14/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/15/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/15/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/16/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/16/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/17/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/17/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/18/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/18/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/19/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/19/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/20/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/20/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/21/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/21/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/22/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/22/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/23/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/23/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/24/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/24/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/25/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/25/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/26/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/26/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/27/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/27/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/28/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/28/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/29/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/29/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/1/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/1/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/2/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/2/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/3/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/3/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/4/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/4/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/5/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/5/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/6/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/6/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/7/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/7/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/8/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/8/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/9/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/9/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/10/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/10/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/11/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/11/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/12/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/12/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/13/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/13/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/14/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/14/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/15/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/15/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/16/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/16/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/17/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/17/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/18/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/18/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/19/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/19/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/20/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/20/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/21/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/21/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/22/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/22/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/23/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/23/20",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SrcDeath",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "TarDeath",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data3",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Province/State",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Province/State",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Country/Region",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Country/Region",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Lat",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Lat",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Long",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Long",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "1/22/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1/22/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "1/23/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1/23/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "1/24/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1/24/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "1/25/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1/25/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "1/26/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1/26/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "1/27/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1/27/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "1/28/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1/28/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "1/29/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1/29/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "1/30/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1/30/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "1/31/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "1/31/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/1/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/1/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/2/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/2/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/3/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/3/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/4/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/4/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/5/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/5/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/6/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/6/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/7/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/7/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/8/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/8/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/9/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/9/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/10/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/10/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/11/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/11/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/12/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/12/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/13/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/13/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/14/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/14/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/15/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/15/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/16/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/16/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/17/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/17/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/18/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/18/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/19/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/19/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/20/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/20/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/21/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/21/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/22/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/22/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/23/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/23/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/24/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/24/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/25/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/25/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/26/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/26/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/27/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/27/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/28/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/28/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2/29/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2/29/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/1/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/1/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/2/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/2/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/3/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/3/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/4/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/4/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/5/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/5/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/6/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/6/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/7/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/7/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/8/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/8/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/9/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/9/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/10/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/10/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/11/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/11/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/12/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/12/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/13/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/13/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/14/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/14/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/15/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/15/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/16/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/16/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/17/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/17/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/18/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/18/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/19/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/19/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/20/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/20/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/21/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/21/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/22/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/22/20",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "3/23/20",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "3/23/20",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SrcRecovered",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "TarRecovered",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SrcConfirmed')]",
				"[concat(variables('factoryId'), '/datasets/TarConfirmed')]",
				"[concat(variables('factoryId'), '/datasets/SrcDeath')]",
				"[concat(variables('factoryId'), '/datasets/TarDeath')]",
				"[concat(variables('factoryId'), '/datasets/SrcRecovered')]",
				"[concat(variables('factoryId'), '/datasets/TarRecovered')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EmploiParActivite')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "localfile",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "MyHealth/Sources"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "ALFS_EMP_EmploiParActivit.csv",
						"folderPath": "MyHealth"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "country",
						"type": "String"
					},
					{
						"name": "country_code",
						"type": "String"
					},
					{
						"name": "year_week",
						"type": "String"
					},
					{
						"name": "age_group",
						"type": "String"
					},
					{
						"name": "new_cases",
						"type": "String"
					},
					{
						"name": "population",
						"type": "String"
					},
					{
						"name": "rate_14_day_per_100k",
						"type": "String"
					},
					{
						"name": "source",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/localfile')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SrcConfirmed')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "localfile",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Sourcess"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "time_series_19-covid-Confirmed_archived_0325.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "country",
						"type": "String"
					},
					{
						"name": "country_code",
						"type": "String"
					},
					{
						"name": "year_week",
						"type": "String"
					},
					{
						"name": "age_group",
						"type": "String"
					},
					{
						"name": "new_cases",
						"type": "String"
					},
					{
						"name": "population",
						"type": "String"
					},
					{
						"name": "rate_14_day_per_100k",
						"type": "String"
					},
					{
						"name": "source",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/localfile')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SrcDailySubNational')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "localfile",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Sourcess"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "DailySubNational.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "country",
						"type": "String"
					},
					{
						"name": "region_name",
						"type": "String"
					},
					{
						"name": "nuts_code",
						"type": "String"
					},
					{
						"name": "date",
						"type": "String"
					},
					{
						"name": "rate_14_day_per_100k",
						"type": "String"
					},
					{
						"name": "source",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/localfile')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SrcDeath')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "localfile",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Sourcess"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "time_series_19-covid-Deaths_archived_0325.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "country",
						"type": "String"
					},
					{
						"name": "country_code",
						"type": "String"
					},
					{
						"name": "year_week",
						"type": "String"
					},
					{
						"name": "age_group",
						"type": "String"
					},
					{
						"name": "new_cases",
						"type": "String"
					},
					{
						"name": "population",
						"type": "String"
					},
					{
						"name": "rate_14_day_per_100k",
						"type": "String"
					},
					{
						"name": "source",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/localfile')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SrcHospital')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "localfile",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Sourcess"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "Hospital.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "country",
						"type": "String"
					},
					{
						"name": "indicator",
						"type": "String"
					},
					{
						"name": "date",
						"type": "String"
					},
					{
						"name": "year_week",
						"type": "String"
					},
					{
						"name": "value",
						"type": "String"
					},
					{
						"name": "source",
						"type": "String"
					},
					{
						"name": "url",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/localfile')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SrcRecovered')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "localfile",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Sourcess"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "time_series_19-covid-Recovered_archived_0325.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "country",
						"type": "String"
					},
					{
						"name": "country_code",
						"type": "String"
					},
					{
						"name": "year_week",
						"type": "String"
					},
					{
						"name": "age_group",
						"type": "String"
					},
					{
						"name": "new_cases",
						"type": "String"
					},
					{
						"name": "population",
						"type": "String"
					},
					{
						"name": "rate_14_day_per_100k",
						"type": "String"
					},
					{
						"name": "source",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/localfile')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SrcResponseCountry')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "localfile",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Sourcess"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "ResponseCountry.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Response_measure",
						"type": "String"
					},
					{
						"name": "date_start",
						"type": "String"
					},
					{
						"name": "date_end",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/localfile')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SrcTesting')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "localfile",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Sourcess"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "Testing.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "country",
						"type": "String"
					},
					{
						"name": "country_code",
						"type": "String"
					},
					{
						"name": "year_week",
						"type": "String"
					},
					{
						"name": "new_cases",
						"type": "String"
					},
					{
						"name": "tests_done",
						"type": "String"
					},
					{
						"name": "population",
						"type": "String"
					},
					{
						"name": "testing_rate",
						"type": "String"
					},
					{
						"name": "positivity_rate",
						"type": "String"
					},
					{
						"name": "testing_data_source",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/localfile')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TarAgeSpecific')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CnxDataLake",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"ContainerName": {
						"type": "string",
						"defaultValue": "raw/europe"
					}
				},
				"folder": {
					"name": "Destination"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureDataLakeStoreLocation"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CnxDataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TarConfirmed')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CnxDataLake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Destination"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureDataLakeStoreLocation",
						"folderPath": "rawdata/johnhopkins"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CnxDataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TarDailySubNational')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CnxDataLake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Destination"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureDataLakeStoreLocation",
						"folderPath": "rawdata/europe"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CnxDataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TarDeath')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CnxDataLake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Destination"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureDataLakeStoreLocation",
						"folderPath": "rawdata/johnhopkins"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CnxDataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TarHospital')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CnxDataLake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Destination"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureDataLakeStoreLocation",
						"folderPath": "rawdata/europe"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CnxDataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TarRecovered')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CnxDataLake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Destination"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureDataLakeStoreLocation",
						"folderPath": "rawdata/johnhopkins"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CnxDataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TarEmploiParActivite')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CnxDataLake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "MyHealth/Destination"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureDataLakeStoreLocation",
						"folderPath": "health/rowdata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CnxDataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TarTesting')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CnxDataLake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Destination"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureDataLakeStoreLocation",
						"folderPath": "rawdata/europe"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CnxDataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CnxDataLake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDataLakeStore",
				"typeProperties": {
					"dataLakeStoreUri": "[parameters('CnxDataLake_properties_typeProperties_dataLakeStoreUri')]",
					"tenant": "[parameters('CnxDataLake_properties_typeProperties_tenant')]",
					"subscriptionId": "[parameters('CnxDataLake_properties_typeProperties_subscriptionId')]",
					"resourceGroupName": "[parameters('CnxDataLake_properties_typeProperties_resourceGroupName')]"
				},
				"connectVia": {
					"referenceName": "MyLocalFiles",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/MyLocalFiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/localfile')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "data lake",
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('localfile_properties_typeProperties_host')]",
					"userId": "[parameters('localfile_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('localfile_password')]"
					}
				},
				"connectVia": {
					"referenceName": "MyLocalFiles",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/MyLocalFiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Data ingestion",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-01-14T16:46:00",
						"endTime": "2021-01-14T20:00:00",
						"timeZone": "Romance Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Data ingestion')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MyLocalFiles')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PerspectivesEconomiques')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "localfile",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "MyHealth/Sources"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "EO_PerspectivesEconomiques.csv",
						"folderPath": "MyHealth"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "country",
						"type": "String"
					},
					{
						"name": "country_code",
						"type": "String"
					},
					{
						"name": "year_week",
						"type": "String"
					},
					{
						"name": "age_group",
						"type": "String"
					},
					{
						"name": "new_cases",
						"type": "String"
					},
					{
						"name": "population",
						"type": "String"
					},
					{
						"name": "rate_14_day_per_100k",
						"type": "String"
					},
					{
						"name": "source",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/localfile')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ProtectionSociale')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "localfile",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "MyHealth/Sources"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "HEALTH_PROT_ProtectionSociale.csv",
						"folderPath": "MyHealth"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "country",
						"type": "String"
					},
					{
						"name": "country_code",
						"type": "String"
					},
					{
						"name": "year_week",
						"type": "String"
					},
					{
						"name": "age_group",
						"type": "String"
					},
					{
						"name": "new_cases",
						"type": "String"
					},
					{
						"name": "population",
						"type": "String"
					},
					{
						"name": "rate_14_day_per_100k",
						"type": "String"
					},
					{
						"name": "source",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/localfile')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Population')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "localfile",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "MyHealth/Sources"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "HISTPOP_Population.csv",
						"folderPath": "MyHealth"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "country",
						"type": "String"
					},
					{
						"name": "country_code",
						"type": "String"
					},
					{
						"name": "year_week",
						"type": "String"
					},
					{
						"name": "age_group",
						"type": "String"
					},
					{
						"name": "new_cases",
						"type": "String"
					},
					{
						"name": "population",
						"type": "String"
					},
					{
						"name": "rate_14_day_per_100k",
						"type": "String"
					},
					{
						"name": "source",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/localfile')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ProjectionPopulation')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "localfile",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "MyHealth/Sources"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "POPPROJ_ProjectionPopulation.csv",
						"folderPath": "MyHealth"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "country",
						"type": "String"
					},
					{
						"name": "country_code",
						"type": "String"
					},
					{
						"name": "year_week",
						"type": "String"
					},
					{
						"name": "age_group",
						"type": "String"
					},
					{
						"name": "new_cases",
						"type": "String"
					},
					{
						"name": "population",
						"type": "String"
					},
					{
						"name": "rate_14_day_per_100k",
						"type": "String"
					},
					{
						"name": "source",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/localfile')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Fiscalite')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "localfile",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "MyHealth/Sources"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "RS_GBL_Fiscalite.csv",
						"folderPath": "MyHealth"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "country",
						"type": "String"
					},
					{
						"name": "country_code",
						"type": "String"
					},
					{
						"name": "year_week",
						"type": "String"
					},
					{
						"name": "age_group",
						"type": "String"
					},
					{
						"name": "new_cases",
						"type": "String"
					},
					{
						"name": "population",
						"type": "String"
					},
					{
						"name": "rate_14_day_per_100k",
						"type": "String"
					},
					{
						"name": "source",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/localfile')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DepenseDeSante')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "localfile",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "MyHealth/Sources"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "SHA_DepenseDeSante.csv",
						"folderPath": "MyHealth"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "country",
						"type": "String"
					},
					{
						"name": "country_code",
						"type": "String"
					},
					{
						"name": "year_week",
						"type": "String"
					},
					{
						"name": "age_group",
						"type": "String"
					},
					{
						"name": "new_cases",
						"type": "String"
					},
					{
						"name": "population",
						"type": "String"
					},
					{
						"name": "rate_14_day_per_100k",
						"type": "String"
					},
					{
						"name": "source",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/localfile')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureDataLakeStoreWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "LOCATION",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LOCATION",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Pays",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pays",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "SUBJECT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SUBJECT",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Sujet",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Sujet",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "SEX",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SEX",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Sexe",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Sexe",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "FREQUENCY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FREQUENCY",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Frquence",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Frquence",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TIME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TIME",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Temps",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Temps",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Unit Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Unit Code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Unit",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Unit",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PowerCode Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PowerCode Code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PowerCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PowerCode",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Reference Period Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Reference Period Code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Reference Period",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Reference Period",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Value",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Value",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Flag Codes",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Flag Codes",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Flags",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Flags",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "EmploiParActivite",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "TarEmploiParActivite",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/EmploiParActivite')]",
				"[concat(variables('factoryId'), '/datasets/TarEmploiParActivite')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TarDepenseDeSante')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CnxDataLake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "MyHealth/Destination"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureDataLakeStoreLocation",
						"folderPath": "health/rowdata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CnxDataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TarFiscalite')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CnxDataLake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "MyHealth/Destination"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureDataLakeStoreLocation",
						"folderPath": "health/rowdata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CnxDataLake')]"
			]
		}
	]
}